
<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
        
        <h2>Log in</h2>

          <%= form_with url: session_path do |form| %>
          <div class="field">
            <%= form.label :name, "Name" %><br>
            <%= form.text_field :name, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your name", value: params[:name] %><br>
          </div>
          <div class="field">
            <%= form.label :password, "Password" %><br>
            <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 20 %><br>
          </div>
          <div class="field">
            <%= form.check_box :remember_me %>
            <label for="remember_me">Remember me</label><br>
          </div>
          <div class="actions">
            <%= form.submit "Log in", class:"btn btn-sm btn-primary" %>
          </div> 
        <% end %>

      <%= link_to "Sign up", new_user_path %><br>
      <%= link_to "Forgot your password?", new_password_path %>
      </div>
    </div>
  </div>
</main>