<%= render 'list', user: @user, book: @new_book || @book %>

<div class="col-md-8 offset-md-1">
  <h2>Book detail</h2>
          <tbody>
          <table class="table">
              <tr class="border-top" style="border-style: hidden;">
                <td>
                  <%= link_to user_path(@user) do %>
                    <% if @book.user.profile_image.attached? %>
                      <%= image_tag @book.user.profile_image, size: "100x100" %>
                    <% else %>
                      <%= image_tag "default-image.jpg", size: "100x100" %>
                    <% end %>
                    <br>
                    <%= @book.user.name %>
                </td>
                <td><%= link_to @book.title, book_path(@book) %></td>
                <td><%= @book.body %></td>
                <td><% if @book.user==Current.user %>
                    <%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success" %>
                    <%= link_to 'Destroy', book_path(@book), class: "btn btn-sm btn-danger", data: { turbo_method: :delete, turbo_confirm: "本当に消しますか？" } %> 
                    <% end %>   
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
